APP_NAME="The Restaurant"
APP_ENV=production
APP_KEY=base64:GQy4vjgaG7GTBcHkPTdLSF5bzzLGvs33QtPMm+jqxnQ=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=dynamodb
# DB_HOST=database-2.cee0xu1c7kxt.ap-northeast-1.rds.amazonaws.com
# DB_PORT=3306
# DB_DATABASE=therestaurant
# DB_USERNAME=admin
# DB_PASSWORD=password

# AWS configurations for aws cloud access
AWS_ACCESS_KEY_ID="AKIAQUB7J53JDTCSJT7Y"
AWS_SECRET_ACCESS_KEY="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"
AWS_DEFAULT_REGION="ap-northeast-1"

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.googlemail.com
MAIL_PORT=465
MAIL_USERNAME=urajimeru@gmail.com
MAIL_PASSWORD=ibrwitemxlhodbpu
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="urajimeru@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
